/*
File Name: pixelpel-contactUS.css
Created on: 18/09/17
Created by: Aryan Sahu
*/
/*
----------------------------------------------------------------------
Global-Section
----------------------------------------------------------------------
*/
a{text-decoration: none; color: #c5c5c5; cursor: pointer; transition: all 0.4s;}
a:hover{color: #c5c5c5; text-decoration: none;}
/*
----------------------------------------------------------------------
********************************--NavBar--****************************
----------------------------------------------------------------------
*/
.brand-name{font-weight: 700; display: inline-block; font-size: 25px; font-family: "Brush Script MT", cursive;}
#navbarNavAltMarkup {justify-content: flex-end;}
#navbar-menu{position: fixed; z-index: 1; left: 0; right: 0; width: 100%; background-color: #272727; padding-top: 15px; padding-bottom: 15px; padding-left: 30px; padding-right: 20px;}
.menu-ulTag{list-style-type: none; display: inline-block; margin: 0px; padding: 0px; float: right;}
.menu-liTag{display: inline-block; margin: 0px 15px;}
@media screen and (max-width: 991px) {.menu-ulTag, .menu-ulTag{float: left;} .menu-liTag{display: block; margin: 10px 0px;}}
.menu-items-link:hover{color: white;}
